<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.DataBodyMassIndexMapper">
<!-- 创建BMI记录 (Create) -->
<insert id="addBodyMassIndex" parameterType="DataBodyMassIndex">
    INSERT INTO t_data_body_mass_index ( bmiID , associateID , measureTime , height , weight , upload , RES , creatTime , describtion , deleteFlag ) VALUES ( #{bmiID} , #{associateID} , #{measureTime} , #{height} , #{weight} , #{upload} , #{rES} , #{creatTime} , #{describtion} , #{deleteFlag} )
</insert>

</mapper>