<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.UserAuthoriseMapper">
    <!-- 创建用户授权记录 (Create) -->
    <insert id="addUserAuthorise" parameterType="UserAuthorise">
        INSERT INTO t_user_authorise ( authoriseID , deviceID , authoriseTime ) VALUES ( #{authoriseID} , #{deviceID} , #{authoriseTime} )
    </insert>

</mapper>